.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contbody {
  width: 90%;
  height: 500px;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen {
  width: 250px;
  height: 70%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.pbox {
  width: 90%;
  height: 90%;
}
.pic {
  width: 100%;
  height: 60%;
}
img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.conttext {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.text {
  height: 110px;
  width: 80%;
}
.abo {
  font-weight: bold;
  text-align: center;
}
.bel {
  text-align: center;
  font-size: 11px;
}
